*:focus {
    outline: 0;
}

ul.user-list {
    margin: 0;
    padding: 0;

    list-style: none;

    > li {
        display: inline-block;

        width: 40px;
        height: 30px;

        border-radius: 3px;

        color: white;
        text-align: center;
        vertical-align: middle;
        line-height: 30px;
        font-size: 17px;

        margin-right: 5px;
    }
}

.overlay-box {
    position: absolute;
    top: 30px;
    left: 0px;

    z-index: 1000;

    box-shadow: 0 3px 5px fade(black, 30%);
    background-color: white;

    margin: 0;
    padding: 0;
    list-style: none;

    border: 4px solid #333;
}

.alignment-picker {
    position: relative;
    overflow: visible;

    .align-icon {
        &.top_left      { vertical-align: top;    }
        &.top_center    { vertical-align: top;    }
        &.top_right     { vertical-align: top;    }
        &.middle_left   { vertical-align: middle; }
        &.middle_center { vertical-align: middle; }
        &.middle_right  { vertical-align: middle; }
        &.bottom_left   { vertical-align: bottom; }
        &.bottom_center { vertical-align: bottom; }
        &.bottom_right  { vertical-align: bottom; }
    }

    .align-parent {
        &.top_left      { text-align: left;   }
        &.top_center    { text-align: center; }
        &.top_right     { text-align: right;  }
        &.middle_left   { text-align: left;   }
        &.middle_center { text-align: center; }
        &.middle_right  { text-align: right;  }
        &.bottom_left   { text-align: left;   }
        &.bottom_center { text-align: center; }
        &.bottom_right  { text-align: right;  }
    }

    > button {
        width: 30px;
        height: 30px;
        line-height: 24px;

        padding: 2px;

        .align-parent();
    }

    .alignment-box {
        width: 90px;

        .alignment {
            float: left;

            width: 30px;
            height: 30px;
            line-height: 30px;

            cursor: pointer;

            .align-parent();

            &:hover {
                background-color: fade(black, 5%);
            }
        }

        .overlay-box();
    }
}

.font-size-picker {
    position: relative;
    overflow: visible;

    > button {
        width: 40px;
        height: 30px;

        padding: 2px;
    }

    .font-size-box {
        .font-size {
            cursor: pointer;

            &:hover {
                background-color: fade(black, 5%);
            }
        }

        .overlay-box();
    }
}

.color-picker {
    position: relative;
    overflow: visible;

    > button {
        width: 30px;
        height: 30px;

        padding: 2px;

        .color-preview {
            display: block;

            width: 22px;
            height: 22px;
        }
    }

    .color-box {
        width: 220px;

        .overlay-box();

        .color {
            float: left;

            width: 20px;
            height: 20px;
        }
    }
}

.btn {
    display: inline-block;

    color: black;
    background: none;
    border: 1px solid transparent;

    padding: 10px;

    font-size: 16px;
    font-family: 'Roboto', sans-serif;

    transition: border-color .5s, background-color .1s, color .1s;

    cursor: pointer;

    &:hover {
        border: 1px solid black;
        border-radius: 3px;
    }

    &:active {
        background-color: black;
        color: white;
    }

    &.big {
        font-size: 30px;
    }
}

.input-with-icon {
    position: relative;

    font-size: 30px;
    font-weight: 300;

    i {
        position: absolute;
        top: 10px;
        left: 13px;
    }

    input {
        width: 100%;
        height: 100%;

        padding: 10px 10px 10px 60px;

        background-color: transparent;
    }

    .checkbox-label {
        display: inline-block;

        margin-left: 60px;
        margin-top: 10px;

        input[type="checkbox"] {
            width: auto;
            height: auto;

            vertical-align: middle;
        }
    }
}

form {
    .fa {
        font-size: 40px;
        width: 40px;
        line-height: 40px;

        text-align: center;
    }

    .group + .group {
        margin-top: 15px;
    }

    input {
        box-sizing: border-box;

        font-size: 30px;
        font-weight: 300;

        font-family: 'Roboto', sans-serif;

        border: 1px solid transparent;
        border-radius: 3px;

        transition: border-color .5s;

        &:hover, &:focus {
            border-color: black;
        }
    }

    &.center-condensed {
        width: 500px;
        margin: 0 auto;
    }
}

a {
    color: black;
    text-decoration: none;
}

.error {
    color: red;
    border-color: red;
}
