!!! 5
%html
  %head
    %title SpreadSheep Alpha - the alpha sheep

    != css :application

  %body
    .container
      %header
        #menu
          %button.btn Register
          %button.btn Login
        %h1 SpreadSheep

      %content
        = yield

      %footer
